{% extends 'blog/base.html' %}

{% load i18n %}

{% block content%}
	     <!-- Inner Page Banner Area End Here -->
            <!-- Food Menu 4 Area Start Here -->  
            <div class="food-menu4-area section-space">
                <div class="container menu-list-wrapper">
                    <div class="row menu-list">
                    	{% if categories %}
                    		{% for category in categories %}
                       			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6  menu-item">
                          		  <div class="food-menu4-box">
                          		      <img src="{{category.image}}" alt="dish" class="img-responsive">
                          		      <div class="food-menu4-box-title">
                          		          <h3>
                          		          	<a href="{% url 'category-post' category.slug %}">{{category.name}}</a>
                          		          </h3>
                          		          <p>{{category.title}}</p>
                          		      </div>
                          		  </div>
                       			</div>
                      		{% endfor %}
                      	{% endif %}
                    </div>
                    <!-- <div class="loadmore">
                        <a href="#" class="ghost-color-btn">Load More</a>
                    </div> -->
                </div>
            </div>
            <!-- Food Menu 4 Area End Here -->
            <!-- Footer Area Start Here -->
{% endblock content%}
	