{% extends 'blog/base.html' %}

{% load i18n %}

{% load multiply_ %}

{% block content %}
    <!-- Inner Page Banner Area End Here -->
    <!-- Checkout Page Area Start Here -->
    <div class="checkout-page-area">
        <div class="container">
            <form class="reservation-form-select2" method="post">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="billing-details-area">
                            <h2 class="cart-area-title">{% trans 'Bank page for pay' %}</h2>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <!-- Checkout Page Area End Here -->
    <!-- Footer Area Start Here -->

{% endblock content %}