{% extends 'blog/base.html' %}

{% load i18n %}

{% load multiply_ %}

{% block content %}
    <!-- Inner Page Banner Area End Here -->
    <!-- Cart Page Area Start Here -->
    <div class="cart-page-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cart-page-top table-responsive" id="add_cart">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td class="cart-form-heading"></td>
                                <td class="cart-form-heading">{% trans 'Product' %}</td>
                                <td class="cart-form-heading">{% trans 'Price' %}</td>
                                <td class="cart-form-heading">{% trans 'Quantity' %}</td>
                                <td class="cart-form-heading">{% trans 'Total' %}</td>
                                <td class="cart-form-heading"></td>
                            </tr>
                            </thead>
                            <tbody id="quantity-holder">
                            {% if totaldata and data %}
                                {% for value in data.items %}
                                    {% if value != 'data' %}
                                        {% for val in value.1 %}
                                            {% if val.name %}
                                                <tr>
                                                    <td class="cart-img-holder">
                                                        <a href="{% url 'product' val.slug %}" target="_blank">
                                                            <img src="{{ val.image }}" alt="cart"
                                                                 class="img-responsive"></a>
                                                    </td>
                                                    <td>
                                                        {% for i,language in val.name.items %}
                                                            {% if i == lang %}
                                                                <h3>
                                                                    <a href="{% url 'product' val.slug %}">{{ language }}</a>
                                                                </h3>
                                                            {% endif %}
                                                        {% endfor %}

                                                    </td>
                                                    <td class="amount">{{ val.price }} AMD</td>
                                                    <td class="quantity">
                                                        <div class="input-group quantity-holder">
                                                            <input type="text" name='quantity'
                                                                   data-price="{{ val.price }}"
                                                                   data-productId="{{ val.productId }}"
                                                                   class="form-control quantity-input"
                                                                   value="{{ val.quantity }}"
                                                                   placeholder="1">
                                                            <div class="input-group-btn-vertical">
                                                                <button class="btn btn-default quantity-plus"
                                                                        type="button">
                                                                    <i
                                                                            class="fa fa-plus" aria-hidden="true"></i>
                                                                </button>
                                                                <button class="btn btn-default quantity-minus"
                                                                        type="button"><i
                                                                        class="fa fa-minus" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="amount"><span>{% multiply val.quantity  val.price %}</span> AMD</td>
                                                    <td class="dismiss"><a href="#"><i class="fa fa-times"
                                                                                       aria-hidden="true"></i></a></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                        <div class="update-button">
                            <button v-on:click="calculate" class="btn-apply-coupon disabled" type="submit"
                                    value="Login">{% trans 'Update Cart' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    {% if totaldata %}
                        <div class="cart-page-bottom-right" id="total-data-content">
                            <h2>{% trans 'Total' %}</h2>
                            <h3>{% trans 'Quantity' %}<span class="totaldata-quantity">{{ totaldata.0.quantity }}</span></h3>
                            <h3>{% trans 'Total' %}<span class="totaldata-price">{{ totaldata.0.price }} AMD</span></h3>
                            <div class="proceed-button">
                                <a href="{% url 'checkout' %}" class="btn-apply-coupon disabled" type="submit"
                                        value="Login">{% trans 'Proceed To Checkout' %}
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="cart-page-bottom-right">
                            <h2>{% trans 'Total' %}</h2>
                            <h3>{% trans 'Quantity' %}<span>0</span></h3>
                            <h3>{% trans 'Total' %}<span>0 AMD</span></h3>
                            <div class="proceed-button">
                                <button class="btn-apply-coupon disabled" type="submit"
                                        value="Login"> {% trans 'Proceed To Checkout' %} </button>
                            </div>
                        </div>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
    <!-- Cart Page Area End Here -->
    <!-- Footer Area Start Here -->

{% endblock content %}