{% extends 'blog/base.html' %}

{% load i18n %}

{% load multiply_ %}

{% block content %}



    <!-- Inner Page Banner Area End Here -->
    <!-- Checkout Page Area Start Here -->
    <div class="checkout-page-area">
        <div class="container">
            <form class="reservation-form-select2" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="billing-details-area">
                            <h2 class="cart-area-title">{% trans 'BILLING DETAILS' %}</h2>
                            <div class="row">
                                <!-- First Name -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label" for="first-name">{% trans 'First Name' %} *</label>
                                        <input type="text" id="first-name" class="form-control"
                                               name="first_name"
                                               value="{% if user.is_authenticated %}{{ user.billing.first_name }} {% endif %}">
                                        {% if  form.first_name.errors %}
                                            <div class="invalid-feedback">
                                                {% for error in form.first_name.errors %}
                                                    <strong>{{ error|escape }}</strong>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- last Name -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label" for="last-name">{% trans 'Last Name' %} *</label>
                                        <input type="text" id="last-name" class="form-control" name="last_name"
                                               value="{% if user.is_authenticated %}{{ user.billing.last_name }} {% endif %}">
                                        {% if  form.last_name.errors %}
                                            <div class="invalid-feedback">
                                                {% for error in form.last_name.errors %}
                                                    <strong>{{ error|escape }}</strong>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Email -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label" for="email">{% trans 'E-mail Address' %} *</label>
                                        <input type="text" id="email" class="form-control" name="email"
                                               value="{% if user.is_authenticated %}{{ user.billing.email }} {% endif %}">


                                        {% if  form.email.errors %}
                                            <div class="invalid-feedback">
                                                {% for error in form.email.errors %}
                                                    <strong>{{ error|escape }}</strong>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- Phone -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label" for="phone">{% trans 'Phone' %} *</label>
                                        <input type="text" id="phone" class="form-control" name="phone"  value="{% if user.is_authenticated %}{{ user.billing.phone }} {% endif %}">
                                        {% if  form.phone.errors %}
                                            <div class="invalid-feedback">
                                                {% for error in form.phone.errors %}
                                                    <strong>{{ error|escape }}</strong>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Country -->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label" for="country">{% trans 'District' %}</label>
                                        <div class="custom-select">
                                            <select id="country" class='' name="district">
                                                <option value="">{% trans 'Select your district' %}</option>
                                                {% for district in districts %}
                                                    <option value="{{ district.pk }}"
                                                            {% if user.is_authenticated and user.billing.district ==  district.pk %}
                                                            selected {{ user.billing.phone }} {% endif %}
                                                    >{{ district.name }}</option>
                                                {% endfor %}
                                            </select>
                                            {% if  form.district.errors %}
                                                <div class="invalid-feedback">
                                                    {% for error in form.district.errors %}
                                                        <strong>{{ error|escape }}</strong>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Address -->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">{% trans 'Address' %}</label>
                                        <input type="text" id="address-line1" class="form-control" name="address"
                                                {% if user.is_authenticated %}{{ user.billing.address }} {% endif %}>

                                        {% if  form.address.errors %}
                                            <div class="invalid-feedback">
                                                {% for error in form.address.errors %}
                                                    <strong>{{ error|escape }}</strong>
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                            {#                            <div class="row">#}
                            {#                                <!-- CREAT AN ACCOUNT? -->#}
                            {#                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
                            {#                                    <div class="form-group">#}
                            {#                                        <span class="checkbox"><input type="checkbox"#}
                            {#                                                                      name="remember"/>{% trans 'CREAT AN ACCOUNT' %}?</span>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="ship-to-another-area">
                            <h2 class="cart-area-title">{% trans 'SHIP TO A DIFFERENT ADDRESS' %}?<span><input
                                    type="checkbox"
                                    name="diff_address"/></span>
                                {% if  form.diff_address.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.diff_address.errors %}
                                            <strong>{{ error|escape }}</strong>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </h2>
                            <label class="control-label">{% trans 'Order Notes' %}</label>
                            <textarea class="form-control" name="order_note"
                                      placeholder="{% trans 'Notes about your order, e.g. special notes for delivery' %}"
                                      style="min-width: 100%"></textarea>

                            {% if  form.order_note.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.order_note.errors %}
                                        <strong>{{ error|escape }}</strong>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="order-sheet">
                            <h2>{% trans 'Your Order' %}</h2>

                            <ul>
                                {% if totaldata and data %}
                                    {% for value in data.items %}
                                        {% if value != 'data' %}
                                            {% for val in value.1 %}
                                                {% if val.name %}
                                                    <li>
                                                        {% for i,language in val.name.items %}
                                                            {% if i == lang %}
                                                                <a class="checkout-product-title" target="_blank"
                                                                   href="{% url 'product' val.slug %}">{{ language }}</a>
                                                                <span>{% multiply val.quantity val.price %} AMD</span>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                            {% if totaldata and data %}
                                <h3>{% trans 'Quantity' %}<span>{{ totaldata.0.quantity }}</span></h3>
                                <h3>{% trans 'Total' %}<span>{{ totaldata.0.price }}</span></h3>
                            {% else %}
                                <h3>{% trans 'Quantity' %}<span>0</span></h3>
                                <h3>{% trans 'Total' %}<span>0 AMD</span></h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="payment-option">
                            <div class="form-group">
                                <span><input type="radio" name="payment_type"
                                             value="bank"/>{% trans 'DIRECT BANK TRANSFER' %}</span>
                                {% comment %}<p>{% trans 'Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account' %}.</p>{% endcomment %}
                            </div>
                            <div class="form-group">
                                <span><input type="radio" name="payment_type"
                                             checked="checked" value="cash"/>{% trans 'CASH ON DELIVERY' %}</span>
                            </div>

                            {% if  form.payment_type.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.payment_type.errors %}
                                        <strong>{{ error|escape }}</strong>
                                    {% endfor %}
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="pLace-order">
                            <button class="btn-send-message disabled" type="submit"
                                    value="Login">{% trans 'ORDER' %}</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <!-- Checkout Page Area End Here -->
    <!-- Footer Area Start Here -->

{% endblock content %}