{% load i18n %}
<div class="cart-area">
    <a href="#"><i aria-hidden="true" class="fa fa-shopping-cart"></i><span>{{ count }}</span></a>
    <ul>
        {% if totaldata and data %}
            {% for value in data.items %}
                {% if value != 'data' %}
                    {% for val in value.1 %}
                        {% if val.name %}
                            <li>
                                <div class="cart-single-product">
                                    <div class="media">
                                        <div class="pull-left cart-product-img">
                                            <a href="{% url 'product' val.slug %}">
                                                <img src="{{ val.image }}" alt="product" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="media-body cart-content">
                                            <ul>
                                                <li>
                                                    {% for i,language in val.name.items %}
                                                        {% if i == lang %}
                                                            <h1>
                                                                <a href="{% url 'product' val.slug %}">{{ language }}</a>
                                                            </h1>
                                                        {% endif %}
                                                    {% endfor %}
                                                </li>
                                                <li>
                                                    <p>X {{ val.quantity }}</p>
                                                </li>
                                                <li>
                                                    <p>{{ val.price }} AMD</p>
                                                </li>
                                                <li>
                                                    <a href="{% url 'product' val.slug %}" class="trash-remove-product"
                                                       data-id="{{ val.productId }}"><i class="fa fa-trash-o"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

            {% if totaldata %}
                <li>
                    <span><span>{% trans 'Quantity' %}</span></span><span>{{ totaldata.0.quantity }}</span>
                    <span><span>{% trans 'Price' %}</span></span><span>{{ totaldata.0.price }} AMD</span>
                </li>
            {% endif %}

            <li>
                <ul class="checkout">
                    <li><a href="{% url 'cart' %}" class="default-btn">{% trans 'View Cart' %}</a></li>
                    <li><a href="{% url 'checkout' %}" class="default-btn">{% trans 'Checkout' %}</a></li>
                </ul>
            </li>
        {% else %}
            <li>
                <span><span>{% trans 'Quantity' %}</span></span><span>0</span>
                <span><span>{% trans 'Price' %}</span></span><span>0 AMD</span>
            </li>

            <li>
                <ul class="checkout">
                    <li><a href="{% url 'cart' %}" class="default-btn">{% trans 'View Cart' %}</a></li>
                    <li><a href="{% url 'checkout' %}" class="default-btn">{% trans 'Checkout' %}</a></li>
                </ul>
            </li>
            {#            <li>Total: <abbr class="empty-basket">0</abbr></li>#}
        {% endif %}
    </ul>
</div>
