.image-group {
    display: flex;
}

.image-group .remove-image {
    margin-right: 20px;
}

#content-main .file-drop-zone {
    max-height: 270px;
}

.modal-body .kv-zoom-body {
    height: 100%;
}

.glyphicon-trash:before {
    content: "\e020";
}

.glyphicon-zoom-in:before {
    content: "\e015";
}

.glyphicon-move:before {
    content: "\e068";
}

.text-warning{
    color: #721c24;
    background-color: #f8d7da !important;
    border-color: #f5c6cb;
}
/*

.order-details,.billing-details{
  width: 48%;
    float: left;
}

.order-details{
    margin-right: 30px;
}*/
