{% extends 'blog/base.html' %}

{% load i18n %}

{% block content %}
            <!-- Inner Page Banner Area End Here -->
            <!-- About Page Area Start Here -->
            <div class="about-page-area">
                <img src="/media/img/about1-bottom-back.png" class="img-responsive" alt="about1-bottom-back">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="about-page-left">
                                <h2></h2>
                                <h2>{{content.title}}</h2>
                                	{{content.content|safe}}
                                
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="about-page-right">
                                <div class="rc-carousel"
                                    data-loop="true"
                                    data-items="1"
                                    data-margin="15"
                                    data-autoplay="true"
                                    data-autoplay-timeout="10000"
                                    data-smart-speed="2000"
                                    data-dots="true"
                                    data-nav="false"
                                    data-nav-speed="false"
                                    data-r-x-small="1"
                                    data-r-x-small-nav="false"
                                    data-r-x-small-dots="true"
                                    data-r-x-medium="1"
                                    data-r-x-medium-nav="false"
                                    data-r-x-medium-dots="true"
                                    data-r-small="1"
                                    data-r-small-nav="false"
                                    data-r-small-dots="true"
                                    data-r-medium="1"
                                    data-r-medium-nav="false"
                                    data-r-medium-dots="true">      
                                    {% if images %}                          
                                   	 	{% for image in images %}                          
                                    		<div class="about-page-img-holder">
                                    		   <img src="{{image.path}}" class="img-responsive" alt="about1-banner">
                                    		</div>
                                   	    {% endfor %}   
                                    {% endif %}   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Page Area End Here -->
            <!-- Award Area Start Here -->

{% endblock content %}