
{% load i18n %}

<div class="inner-page-banner-area">
    <div class="container">
        <div class="pagination-area">
            <h2>{{ title }}</h2>
            <ul>
                <li><a href="{% url 'home' %}">{% trans 'Home' %} -</a> /</li>
                <li>{{ breadcrumb }}</li>
            </ul>
        </div>
    </div>  
</div> 