{% extends 'blog/base.html' %}

{% load i18n %}

{% block content %}
 <!-- Inner Page Banner Area End Here -->
 <!-- Contact Us Page Area Start Here -->
 
 <div class="contact-us-page-area section-space-bottom">
     <div class="container">
         <div class="row">
             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                 <div class="contact-us-left">   
                     <h2 class="title-bar-medium-left inner-sub-title">{% trans 'information' %}</h2>    
                     <ul>
                         <li>
                             <i class="fa fa-phone" aria-hidden="true"></i>
                             <h3>{% trans 'Phone' %}</h3>
                             <p>+(374) 77 85 07 09</p>   
                         </li>
                         <li>
                             <i class="fa fa-map-marker" aria-hidden="true"></i>
                             <h3>{% trans 'Address' %}</h3>
                             <p>25/5 Tigran Petrosyan St, Yerevan 0054</p> 
                         </li>
                         <li>
                             <i class="fa fa-envelope-o" aria-hidden="true"></i>
                             <h3>{% trans 'E-mail' %}</h3>
                             <p>info@redchili.com</p>   
                         </li>
                         <li>
                             <i class="fa fa-share-alt" aria-hidden="true"></i>
                             <h3>{% trans 'Follow Us' %}</h3>
                             <ul class="contact-social">
                                 <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                             </ul>
                         </li>       
                     </ul>
                 </div>  
             </div>  
             <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                 <div class="contact-us-right"> 
                     <h2 class="title-bar-medium-left inner-sub-title">{% trans 'Address' %}</h2>    
                     <div class="contact-form"> 
                         <div class='alert alert-success contact-success hide'><p>{% trans 'Message sent successfully' %}</p></div>
                         <form action="{% url 'contact' %}" id="contact-form" method="post">
                             {% csrf_token %}
                             <fieldset>
                                 <div class="row">
                                     <div class="col-sm-6">
                                         <div class="form-group">
                                             <input type="text" placeholder="{% trans 'Name' %}*" class="form-control" name="name" id="form-name" data-error="{% trans 'Name' %} {% trans 'field is required' %}" required>
                                             <div class="help-block with-errors"></div>
                                         </div>
                                     </div>
                                     <div class="col-sm-6">
                                         <div class="form-group">
                                             <input type="email" placeholder="{% trans 'Email' %}*" class="form-control" name="email" id="form-email" data-error="{% trans 'Email' %} {% trans 'field is required' %}" required>
                                             <div class="help-block with-errors"></div>
                                         </div>
                                     </div>
                                      <div class="col-sm-12">
                                         <div class="form-group">
                                             <input type="text" placeholder="{% trans 'Subject' %}*" class="form-control" name="subject" id="form-subject" data-error="{% trans 'Subject' %} {% trans 'field is required' %}" required>
                                             <div class="help-block with-errors"></div>
                                         </div>
                                     </div>
                                     <div class="col-sm-12">
                                         <div class="form-group">
                                             <textarea placeholder="{% trans 'Message' %}*" class="textarea form-control" name="description" id="form-message" rows="7" cols="20" data-error="{% trans 'Message' %} {% trans 'field is required' %}" required></textarea>
                                             <div class="help-block with-errors"></div>
                                         </div>
                                     </div>
                                     <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
                                         <div class="form-group margin-bottom-none">
                                             <button type="submit" class="ghost-on-hover-btn">{% trans 'Send' %}</button>
                                         </div>
                                     </div>
                                     <div class="col-lg-8 col-md-8 col-sm-6 col-sm-12">
                                         <div class='form-response'></div>
                                     </div>
                                 </div>
                             </fieldset>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!-- Contact Us Page Area End Here -->
 <!-- Footer Area Start Here -->

{% endblock content %}