{% extends 'blog/base.html' %}

{% load i18n %}

{% block content%}
   <div class="food-menu2-area">
                <div class="container" id="inner-isotope">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="isotop-classes-tab myisotop"> 
                                <a href="#" data-filter="*" class="current">{% trans 'All' %}</a>
                                {% if categories %}
                                    {% for category in categories %}
                                      <a href="#" data-filter=".{{category.slug}}">{{category.name}}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row featuredContainer">
                         {% if posts %}
                                    {% for post in posts %}
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 {{post.category.slug}}">
                                            <div class="food-menu2-box">
                                                <div class="food-menu2-img-holder">
                                                    <div class="food-menu2-more-holder">
                                                        <ul>
                                                            <li><a href="{% url 'product' post.slug %}"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <a href="{% url 'product' post.slug %}"><img class="img-responsive" src="{{post.image.path}}" alt="dish"></a>
                                                </div>
                                                 <div class="food-menu2-title-holder">
                                                    <span>{{post.price}}</span>
                                                    {% if post.title != None %}
                                                        <h3><a href="{% url 'product' post.slug %}">{{post.title}}</a></h3>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
{% endblock content%}