{% load i18n %}
<footer>
                <div class="footer-area-top section-space">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="footer-box">
                                    <h3 class="title-bar-footer">{% trans 'About Us' %}</h3>
                                    
                                    {% load about_us %}
                                    {% about %}
                                    {% include 'blog/templatetags/about.html' %}

                                    <ul class="footer-social">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="footer-box">
                                    <h3 class="title-bar-footer">{% trans 'Facebook Page' %}</h3>
                                    <div class="footer-blog-post">
                                        <div class="media">
                                            <a href="#" class="pull-left">
                                                <img src="/media/img/footer-blog1.jpg" alt="footer-blog" class="img-responsive">
                                            </a>
                                            <div class="media-body">
                                                <h4><a href="#">Beef Burger Daily Special Foods That</a></h4>
                                                <p>20 Aug, 2016</p>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="footer-blog-post">
                                        <div class="media">
                                            <a href="#" class="pull-left">
                                                <img src="/media/img/footer-blog2.jpg" alt="footer-blog" class="img-responsive">
                                            </a>
                                            <div class="media-body">
                                                <h4><a href="#">Beef Burger Daily Special Foods That</a></h4>
                                                <p>20 Aug, 2016</p>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="footer-blog-post">
                                        <div class="media">
                                            <a href="#" class="pull-left">
                                                <img src="/media/img/footer-blog3.jpg" alt="footer-blog" class="img-responsive">
                                            </a>
                                            <div class="media-body">
                                                <h4><a href="#">Beef Burger Daily Special Foods That</a></h4>
                                                <p>20 Aug, 2016</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="footer-box">
                                    <h3 class="title-bar-footer">{% trans 'Opening Hours' %}</h3>
                                    <ul class="opening-schedule">
                                        <li>{% trans 'Monday' %}<span> 9am - 19pm</span></li>
                                        <li>{% trans 'Tuesday' %}<span> 9am - 19pm</span></li>
                                        <li>{% trans 'Wednesday' %} <span> 9am - 19pm</span></li>
                                        <li>{% trans 'Thursday' %}<span> 9am - 19pm</span></li>
                                        <li>{% trans 'Friday' %}<span> 9am - 19pm</span></li>
                                        <li class="red">{% trans 'Saturday' %} <span> 9am - 14pm</span></li>
                                        <li>{% trans 'Sunday' %}<span> {% trans 'Closed' %}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-area-bottom">
                    <div class="container">
                        <p>&copy; 2019 {% trans 'All Rights Reserved' %} . &nbsp;</p>
                    </div>
                </div>
            </footer>