{% load i18n %}

<header>
    <div class="header1-area">
        <div class="header-bottom-area" id="sticker">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="logo-area">
                            <a href="{% url 'home' %}"><img class="img-responsive" src="/media/img/logo.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="main-menu-area">
                            <nav>
                                <ul>
                                    <li class="active">
                                        <a href="{% url 'home' %}">{% trans 'Home' %}</a>
                                    </li>
                                    <li><a href="{% url 'food' %}">{% trans 'Menu' %}</a></li>
                                    <li>
                                        <a href="{% url 'categories' %}">{% trans 'Categories' %}</a>

                                        {% load menu_category %}
                                        {% show_menu %}
                                    </li>
                                    <li><a href="{% url 'about' %}">{% trans 'About' %}</a></li>
                                    <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                                    {% if user.is_authenticated %}
                                        <li>
                                            <a href="#"> {% trans 'My Profile' %} </a>
                                            <ul>
                                                <li>
                                                    <a href="{% url 'profile' %}">{% trans 'Update Profile' %}</a>
                                                </li>

                                                <li>
                                                    <a href="{% url 'logout' %}">{% trans 'Logout' %}({{ user.username }})</a>
                                                </li>
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
                                        <li><a href="{% url 'register' %}">{% trans 'Register' %}</a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <ul class="header-cart-area">
                        <div class="dropdown">
                            {% csrf_token %}
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            <div class="dropbtn">
                                <a href="#" rel="nofollow">
                                    <i class="flag flag-18 flag-18-{{ LANGUAGE_CODE }}"></i>
                                </a>
                            </div>
                            <div class="dropdown-content">
                                <ul id="language-list" class="wsmenu-submenu">

                                    {% for language in languages %}
                                        <li class="{% if language.code == LANGUAGE_CODE %} active {% endif %} ">
                                            <a class="language-menu" data-name="{{ language.code }}"
                                               v-on:click='set_lang'>
                                                <i data-name="{{ language.code }}"
                                                   class="flag flag-18 flag-18-{{ language.code }}"></i>
                                                {{ language.name_local }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        </li>

                        <li class="header-search">
                            <form method="get" action="{% url 'search' %}">
                                <input type="text" name="q" class="search-form" placeholder="{% trans 'Search' %}...."
                                       required="">
                                <a href="#" class="search-button" id="search-button"><i class="fa fa-search"
                                                                                        aria-hidden="true"></i></a>
                            </form>
                        </li>
                        <li class="cart-data">
                            {% load small_cart %}
                            {% show_cart_modal %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Mobile Menu Area Start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul>
                                <li class="active">
                                    <a href="{% url 'home' %}">{% trans 'Home' %}</a>
                                </li>
                                <li><a href="{% url 'food' %}">{% trans 'Menu' %}</a></li>

                                <li>
                                    <a href="{% url 'categories' %}">{% trans 'Categories' %}</a>

                                    {% load menu_category %}
                                    {% show_menu %}
                                </li>
                                <li><a href="{% url 'about' %}">{% trans 'About' %}</a></li>

                                <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area End -->
</header>
 