{% extends 'blog/base.html' %}

{% load i18n %}

{% block content %}
            <!-- Header Area End Here -->
            <!-- Slider Area Start Here -->          
            {% if sliders %}     
            <div class="slider1-area">
                <div class="bend niceties preview-1">
                    <div id="ensign-nivoslider-3" class="slides">   
                        {% for slider in sliders %}
                            <img src="/media{{ slider.image }}" alt="slider" >
                        {% endfor %}
                    </div>
                </div>  
            </div>
            {% endif %}
            <!-- Slider Area End Here -->
            <!-- About 1 Area Start Here -->
            <!-- <div class="about1-area section-space">
                <img class="img-responsive section-back" src="/media/img/section-back-1.png" alt="Sestion Back">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 wow fadeInLeft">
                           <a href="#"><img class="img-responsive" src="/media/img/chef/1.png" alt="chef"></a>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 wow fadeInRight">
                            <div class="about1-area-top">
                                <h2>Red <span> Chili</span></h2>
                                <h2>For Getting Real Taste</h2>
                            </div>
                           <h3 class="title-bar-big-left">Discover Our Food</h3>
                           <p>Morbi ut sapien scelerisque, fermentum ex ultrices, bibendum lacus. Aliquam id consequat ex. Integer luctus tellus at rutrum maximus. Quisque lacinia blandit quam rhoncus vulputate vulputate fermentum.</p>
                           <a href="#" class="ghost-color-btn">Read More<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div> -->
                        <!-- Special Dish Area End Here -->
            <!-- Tasty Menu Area Start Here -->
            <div class="tasty-menu-area">
                <div class="container">   
                    <div class="row">
                    <h2 class="title">{% trans 'Tasty Menu Today' %}</h2>
                    <span class="subtitle">{% trans 'Menu'%}</span>                 
                        <div class="tasty-menu-inner">
                            {% if menuFirst %}
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <!-- <h3 class="inner-sub-title-center title-bar-full-width">Lunch Menu</h3> -->
                                <ul>
                                   {% for menu in menuFirst %}
                                    <li>
                                        <div class="media">
                                            <a href="{% url 'product' menu.slug %}" class="pull-left home-menu">
                                                <img src="{{ menu.image.path }}" alt="client" class="img-responsive">
                                            </a>
                                            <div class="media-body">
                                                <h4><a href="{% url 'product' menu.slug %}">{{menu.title}}</a></h4>
                                                <p>{{menu.content}} </p>  
                                                <span>{{menu.getPrice}} AMD</span>
                                            </div>
                                        </div>
                                    </li>
                                     {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            {% if menuSecond %}
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <!-- <h3 class="inner-sub-title-center title-bar-full-width">Lunch Menu</h3> -->
                                <ul>
                                   {% for menu in menuSecond %}
                                    <li>
                                        <div class="media">
                                            <a href="{% url 'product' menu.slug %}" class="pull-left home-menu">
                                                <img src="{{ menu.image.path }}" alt="client" class="img-responsive">
                                            </a>
                                            <div class="media-body">
                                                <h4><a href="{% url 'product' menu.slug %}">{{menu.shortTitle }}</a></h4>
                                                <p>{{menu.shortContent}} </p>  
                                                <span>{{menu.getPrice}} AMD</span>
                                            </div>
                                        </div>
                                    </li>
                                     {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tasty Menu Area End Here -->
            <!-- Recipe of the day Area Start Here -->

            <!-- About 1 Area End Here -->
            <!-- Special Dish Area Start Here -->
            {% if specialDishes %}
            <div class="special-dish-area">
                <div class="container">
                    <h2 class="title"><!-- {% trans 'Special Dishes Today' %} --></h2>
                    <span class="subtitle-color title">{% trans 'Special Dishes Today' %}</span>
                    <div class="row">
                        <div class="rc-carousel"
                            data-loop="true"
                            data-items="4"
                            data-margin="15"
                            data-autoplay="true"
                            data-autoplay-timeout="10000"
                            data-smart-speed="2000"
                            data-dots="false"
                            data-nav="true"
                            data-nav-speed="false"
                            data-r-x-small="1"
                            data-r-x-small-nav="false"
                            data-r-x-small-dots="true"
                            data-r-x-medium="1"
                            data-r-x-medium-nav="false"
                            data-r-x-medium-dots="true"
                            data-r-small="3"
                            data-r-small-nav="true"
                            data-r-small-dots="false"
                            data-r-medium="4"
                            data-r-medium-nav="true"
                            data-r-medium-dots="false">       
                            {%  for dishes in specialDishes %}                 
                            <div class="special-dish-box">
                                <span>{{ dishes.getPrice }} </span>
                                <a href="{% url 'product' dishes.slug %}"><img class="img-responsive" src="{{ dishes.image.path }}" alt="dish"></a>
                                <h3 class="title-small title-bar-small-center"><a href="{% url 'product' dishes.slug %}">{{ dishes.shortTitle }}</a></h3>
                                <p>  <!-- {{ product.shortContent|safe }} --></p>
                                <a href="{% url 'product' dishes.slug %}" class="ghost-semi-color-btn">{% trans 'See' %}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- <div class="recipe-of-the-day-area">
                <div class="container">
                    <h2 class="title-color">Recipe Of The Day</h2>
                    <span class="subtitle-color">Chef Unique Recipes</span>
                    <div class="row">
                        <div class="rc-carousel"
                            data-loop="true"
                            data-items="1"
                            data-margin="15"
                            data-autoplay="false"
                            data-autoplay-timeout="10000"
                            data-smart-speed="2000"
                            data-dots="false"
                            data-nav="true"
                            data-nav-speed="false"
                            data-r-x-small="1"
                            data-r-x-small-nav="false"
                            data-r-x-small-dots="true"
                            data-r-x-medium="1"
                            data-r-x-medium-nav="false"
                            data-r-x-medium-dots="true"
                            data-r-small="1"
                            data-r-small-nav="false"
                            data-r-small-dots="true"
                            data-r-medium="1"
                            data-r-medium-nav="false"
                            data-r-medium-dots="true">                        
                            <div class="recipe-of-the-day-box clear">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <div class="recipe-of-the-day-content">
                                        <div class="recipe-of-the-day-content-inner">
                                            <h2 class="title-recipe">Soft Chicken Kabab</h2>
                                            <p class="recipe-of-the-day-content-details">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.A wonderful serenity has taken possession of my entire soul, like these sweet mornings.</p>
                                            <ul class="time-needs">
                                                <li>
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    <p>Preparation</p>
                                                    <p>15 Mins</p>
                                                </li>
                                                <li>
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    <p>Preparation</p>
                                                    <p>15 Mins</p>
                                                </li>
                                                <li>
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    <p>Preparation</p>
                                                    <p>15 Mins</p>
                                                </li>
                                            </ul>
                                            <div class="awards-box">
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-users" aria-hidden="true"></i></a>
                                                        <span>Serving:<span class="about-counter" data-num="20">20</span></span>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                                                        <span>Happy Customer:<span class="about-counter" data-num="150">150</span></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <div class="recipe-of-the-day-content">
                                        <div class="recipe-of-the-day-img">
                                            <a href="#"><img class="img-responsive" src="/media/img/recipe-of-the-day-banner.jpg" alt="recipe-of-the-day"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="recipe-of-the-day-box clear">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <div class="recipe-of-the-day-content">
                                        <div class="recipe-of-the-day-content-inner">
                                            <h2 class="title-recipe">Soft Chicken Kabab</h2>
                                            <p class="recipe-of-the-day-content-details">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.A wonderful serenity has taken possession of my entire soul, like these sweet mornings.</p>
                                            <ul class="time-needs">
                                                <li>
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    <p>Preparation</p>
                                                    <p>15 Mins</p>
                                                </li>
                                                <li>
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    <p>Preparation</p>
                                                    <p>15 Mins</p>
                                                </li>
                                                <li>
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    <p>Preparation</p>
                                                    <p>15 Mins</p>
                                                </li>
                                            </ul>
                                            <div class="awards-box">
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-users" aria-hidden="true"></i></a>
                                                        <span>Serving:<span class="about-counter" data-num="20">20</span></span>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                                                        <span>Happy Customer:<span class="about-counter" data-num="150">150</span></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <div class="recipe-of-the-day-content">
                                        <div class="recipe-of-the-day-img">
                                            <a href="#"><img class="img-responsive" src="/media/img/recipe-of-the-day-banner.jpg" alt="recipe-of-the-day"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="recipe-of-the-day-box clear">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <div class="recipe-of-the-day-content">
                                        <div class="recipe-of-the-day-content-inner">
                                            <h2 class="title-recipe">Soft Chicken Kabab</h2>
                                            <p class="recipe-of-the-day-content-details">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.A wonderful serenity has taken possession of my entire soul, like these sweet mornings.</p>
                                            <ul class="time-needs">
                                                <li>
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    <p>Preparation</p>
                                                    <p>15 Mins</p>
                                                </li>
                                                <li>
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    <p>Preparation</p>
                                                    <p>15 Mins</p>
                                                </li>
                                                <li>
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    <p>Preparation</p>
                                                    <p>15 Mins</p>
                                                </li>
                                            </ul>
                                            <div class="awards-box">
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-users" aria-hidden="true"></i></a>
                                                        <span>Serving:<span class="about-counter" data-num="20">20</span></span>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                                                        <span>Happy Customer:<span class="about-counter" data-num="150">150</span></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <div class="recipe-of-the-day-content">
                                        <div class="recipe-of-the-day-img">
                                            <a href="#"><img class="img-responsive" src="/media/img/recipe-of-the-day-banner.jpg" alt="recipe-of-the-day"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Recipe of the day Area End Here -->
            <!-- Table Reservation 1 Area Start Here -->
            <div class="table-reservation1-area">
                <div class="container">
                    <h2 class="title">{% trans 'CONTACT US NOW' %}</h2>
                    <span class="subtitle-color">{% trans 'we will contact to you' %}</span>
                    <!-- <h3>Opening Hour 8:00 AM - 10:00 PM Every day on week.</h3> -->
                    <div class="row">
                      <div class="reservation-form"> 
                         <div class='alert alert-success contact-success hide'><p>{% trans 'Message sent successfully' %}</p></div>
                            <form id="contact-form" action="{% url 'contact' %}"  method="post" class="home-contact-form">
                                {% csrf_token %}
                                <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                     <div class="reservation-input-box">
                                        <input type="text" class="form-control" placeholder="{% trans 'Name' %}" name="name" id="form-name" data-error="{% trans 'Name' %} {% trans 'field is required' %}" required />
                                    </div>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                   <div class="reservation-input-box">
                                        <input type="text" class="form-control" placeholder="{% trans 'Subject' %}" name="subject" id="form-phone" data-error="{% trans 'Subject' %} {% trans 'field is required' %}" required/>
                                    </div>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="reservation-input-box">
                                        <input type="text" class="form-control" placeholder="{% trans 'Email' %}" name="email" id="form-subject" data-error="{% trans 'Email' %} {% trans 'field is required' %}" required/>
                                    </div>
                                    <div class="help-block with-errors"></div>
                                </div>
                  
                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="reservation-input-box">
                                        <textarea class="form-control" placeholder="{% trans 'Message' %}" name="description" id="form-message" data-error="{% trans 'Message' %} {% trans 'field is required' %}" required></textarea>
                                    </div>
                                    <div class="help-block with-errors"></div>
                                </div>
                                 <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="reservation-input-box">
                                        <button type="submit" class="book-now-btn">{% trans 'Send' %}
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class='form-response'></div>
                                </div>
                            </form>                                 
                        </div>
                    </div>                   
                </div>
            </div>
            <!-- Table Reservation 1 Area End Here -->
            <!-- Expert Chefs Area Start Here -->
            <!-- <div class="expert-chefs-area">
                <img class="img-responsive section-back" src="/media/img/team/section-back.png" alt="Sestion Back">
                <div class="container">
                    <h2 class="title-color">Our Expert Chefs</h2>
                    <span class="subtitle-color">Professional Cook Team</span>
                    <div class="rc-carousel"
                        data-loop="true"
                        data-items="3"
                        data-margin="30"
                        data-autoplay="true"
                        data-autoplay-timeout="10000"
                        data-smart-speed="2000"
                        data-dots="false"
                        data-nav="true"
                        data-nav-speed="false"
                        data-r-x-small="2"
                        data-r-x-small-nav="false"
                        data-r-x-small-dots="true"
                        data-r-x-medium="2"
                        data-r-x-medium-nav="false"
                        data-r-x-medium-dots="true"
                        data-r-small="2"
                        data-r-small-nav="true"
                        data-r-small-dots="false"
                        data-r-medium="3"
                        data-r-medium-nav="true"
                        data-r-medium-dots="false">
                        <div class="expert-chefs-box">
                            <a href="#"><img class="img-responsive" src="/media/img/team/1.jpg" alt="team"></a>
                            <div class="expert-chefs-box-content">
                                <span></span>
                                <h3><a href="#">Richard Mark</a></h3>
                                <p>Fish Chef</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                         <div class="expert-chefs-box">
                            <a href="#"><img class="img-responsive" src="/media/img/team/2.jpg" alt="team"></a>
                            <div class="expert-chefs-box-content">
                                <span></span>
                                <h3><a href="#">Laizy Pauel</a></h3>
                                <p>Taste Checker</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                         <div class="expert-chefs-box">
                            <a href="#"><img class="img-responsive" src="/media/img/team/3.jpg" alt="team"></a>
                            <div class="expert-chefs-box-content">
                                <span></span>
                                <h3><a href="#">Mark Li</a></h3>
                                <p>Waiter</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                         <div class="expert-chefs-box">
                            <a href="#"><img class="img-responsive" src="/media/img/team/1.jpg" alt="team"></a>
                            <div class="expert-chefs-box-content">
                                <span></span>
                                <h3><a href="#">Richard Mark</a></h3>
                                <p>Fish Chef</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                         <div class="expert-chefs-box">
                            <a href="#"><img class="img-responsive" src="/media/img/team/2.jpg" alt="team"></a>
                            <div class="expert-chefs-box-content">
                                <span></span>
                                <h3><a href="#">Laizy Pauel</a></h3>
                                <p>Taste Checker</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                         <div class="expert-chefs-box">
                            <a href="#"><img class="img-responsive" src="/media/img/team/3.jpg" alt="team"></a>
                            <div class="expert-chefs-box-content">
                                <span></span>
                                <h3><a href="#">Mark Li</a></h3>
                                <p>Waiter</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
         
{% endblock content %}
