{% extends 'blog/base.html' %}

{% load i18n %}

{% block content%}
            <!-- Inner Page Banner Area End Here -->
            <!-- Food Menu 3 Area Start Here -->  
            <div class="food-menu3-area section-space">
                <div class="container">
                    <div class="row container-post">
                        {% if posts %}
                            {% for post in posts %}
                                <div class="col-lg-6 col-md-4 col-sm-6 col-xs-6">
                                 <div class="food-menu3-box">
                                    <div class="food-menu3-box-img">
                                         <a href="{% url 'product' post.slug %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                         <img src="{{post.image.path}}" alt="dish" class="img-responsive">
                                     </div>
                                     <div class="food-menu3-box-content">
                                         <h3 class="title-bar-medium-left">
                                            <a href="{% url 'product' post.slug %}">
                                                {{post.title}}
                                            </a>
                                         </h3>
                                         <p>{{ post.shortContent}}</p>
                                         <div class="food-menu-price">
                                             <span>{{post.getPrice}} AMD</span>
                                         </div>
                                     </div>
                                 </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                        <ul class="mypagination">
                            {% if posts.has_previous %}
                               <li><a href="?page=1">{% trans 'First' %}</a></li>
                               <li><a href="?page={{posts.previous_page_number}}">{% trans 'Previous' %}</a></li>
                            {% endif %}

                            {% for num in posts.paginator.page_range %}
                               {% if posts.number == num %}
                                   <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                               {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                                   <li><a href="?page={{ num }}">{{ num }}</a></li>
                               {% endif %}
                            {% endfor %}

                            {% if posts.has_next %}
                               <li><a href="?page={{posts.next_page_number}}">{% trans 'Next' %}</a></li>
                               <li><a href="?page={{posts.paginator.num_pages}}">{% trans 'Last' %}</a></li>
                            {% endif %}

                    </ul>
                </div>
            </div>
            <!-- Food Menu 3 Area End Here -->
            <!-- Footer Area Start Here -->



{% endblock content%}            

