{% extends 'blog/base.html' %}

{% load i18n %}

{% block content%}
	

            <!-- Inner Page Banner Area End Here -->
            <!-- Single Menu Area Start Here -->
            <div class="single-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <div class="single-menu-inner">
                                <div class="single-menu-inner-tab">
                                	{% if images %}
                                   		<ul class="single-menu-nav">
                                   			{% for image in images %}
                                   		    <li class="active"><a href="#single-menu1" data-toggle="tab"><img src="{{ image.path }}" class="img-responsive" alt="single recipe"></a></li>
                                   		    {% endfor %}
                                   		</ul>
                                   		<div class="tab-content">
                                   			{% for image in images %}
                                   		   		<div class="tab-pane active" id="single-menu1">
                                   		   		    <img src="{{ image.path }}" class="img-responsive" alt="Menu Details">
                                   		   		</div>
                                   			{% endfor %}
                                   		</div>
                                    {% endif %}
                                </div>
                                   <div class="single-menu-inner-content" >
                                    <h2 class="inner-sub-title">{{ product.title }}</h2>
                                 
                                    <span class="price">{{ product.getPrice }} AMD</span>
                                    {{ product.content|safe }}
                                    <ul class="single-menu-inner-cart" id="add_cart">
                                        <li><a href="#" class="ghost-on-hover-btn" v-on:click="addCartForm">
                                        	{% trans 'Add To Cart' %}
                                        </a></li>
                                        <li>
                                            <form action="{% url 'add-to-cart' %}" method="post"  >
                                                <div class="input-group quantity-holder" id="quantity-holder">
                                                    <input type="text"  v-model="quantity" name='quantity' class="form-control quantity-input"  placeholder="1">

                                                    <input type="hidden" value="{{ product.id }}"  id='productId'>

                                                    <div class="input-group-btn-vertical">
                                                        <button class="btn btn-default quantity-plus" type="button"><i class="fa fa-plus"     aria-hidden="true"></i></button>
                                                        <button class="btn btn-default quantity-minus" type="button"><i class="fa fa-minus"     aria-hidden="true"></i></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                      
                          
                                <div class="related-products">
                                    <h2 class="inner-sub-title title-bar-big-left-close">
                                    	{% trans 'Similar' %}
                                    </h2>
                                    <div class="rc-carousel"
                                        data-loop="true"
                                        data-items="3"
                                        data-margin="30"
                                        data-autoplay="true"
                                        data-autoplay-timeout="5000"
                                        data-smart-speed="2000"
                                        data-dots="false"
                                        data-nav="true"
                                        data-nav-speed="false"
                                        data-r-x-small="1"
                                        data-r-x-small-nav="false"
                                        data-r-x-small-dots="true"
                                        data-r-x-medium="2"
                                        data-r-x-medium-nav="false"
                                        data-r-x-medium-dots="true"
                                        data-r-small="2"
                                        data-r-small-nav="true"
                                        data-r-small-dots="false"
                                        data-r-medium="3"
                                        data-r-medium-nav="true"
                                        data-r-medium-dots="false">

                                        {% for similar in similars %}
                                        	<div class="food-menu2-box">
                                        	    <div class="food-menu2-img-holder">
                                        	        <div class="food-menu2-more-holder">
                                        	            <ul>
                                        	                <li>
                                        	                	<a href="{% url 'product' similar.slug %}">
                                        	                		<i class="fa fa-link" aria-hidden="	true">
                                        	                		</i>
                                        	                	</a>
                                        	                </li>
                                        	            </ul>
                                        	        </div>
                                        	        <a href="{% url 'product' similar.slug %}">
                                        	        	<img class="img-responsive" src="{{ similar.image.path }}" alt="dish">
                                        	        </a>
                                        	    </div>
                                        	     <div class="food-menu2-title-holder">
                                        	        <span>{{similar.getPrice}} AMD</span>
                                        	        <h3>
                                        	        	<a href="{% url 'product' similar.slug %}">{{similar.title}}</a>
                                        	        </h3>
                                        	    </div>
                                        	</div>
                                       	{% endfor %}
                                    </div>
                               
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <div class="rc-sidebar">
                                <div class="sidebar-search-area margin-bottom-sidebar">
                                    <h2 class="title-sidebar title-bar-sidebar">{% trans 'Search' %}</h2>
                                    <div class="input-group stylish-input-group">
                                       <form method="get" action="{% url 'search' %}">
                                               <input type="text" name="q" class="form-control" placeholder="{% trans 'Search Here' %} . . .">
                                        </form>
                                        <span class="input-group-addon">
                                            <button type="submit">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>  
                                        </span>
                                    </div>
                                </div>
                                <div class="categories margin-bottom-sidebar">
                                    <h2 class="title-sidebar title-bar-sidebar">{% trans 'Categories' %}</h2>
                                    <ul>
                                    	{% for category in categories %}
                                        <li><a href="{% url 'category-post' category.slug %}"><i class="fa fa-chevron-right" aria-hidden="true"></i>{{ category.name }}</a></li>
                                      {% endfor %}
                                    </ul>
                                </div>
                                {% if popular %}
                               		<div class="popular-menu margin-bottom-sidebar">
                               		    <h2 class="title-sidebar title-bar-sidebar">{% trans 'Popular Menu' %}</h2>
                               		    {% for post in popular%}
                               		   	 <div class="media">
                               		   	     <a href="{% url 'product' post.slug %}" class="pull-left">
                               		   	         <img alt="Popular" src="{{post.image.path}}" class="img-responsive popular-img">
                               		   	     </a>
                               		   	     <div class="media-body">
                               		   	         <h3 class="media-heading">
                               		   	         	<a href="{% url 'product' post.slug %}">
                               		   	         		{{post.title}}
                               		   	         	</a>
                               		   	         </h3>
                               		   	         <span>{{post.getPrice}} AMD</span>
                               		   	     </div>
                               		   	 </div>
                               		    {% endfor %}
                               		</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Menu Area End Here -->
            <!-- Footer Area Start Here -->

{% endblock content%}