{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <div class="content-section" id="login-form">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    {% trans 'Join Today' %}
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <div class="border-top pt-3">

                    <small class="forgot-password">
                        <a href="{% url 'password_reset' %}">{% trans 'Forgot Password' %}?</a>
                    </small>
                    <small class="text-muted">
                        {% trans 'Need An Account' %} ? <a href="{% url 'register' %}"
                                                           class="ml-2"> {% trans 'Sign Up Now' %}</a>
                    </small>
                </div>
                <button type="submit" class="btn btn-outline-info submit-login">{% trans 'Login' %}</button>
            </div>
        </form>

    </div>
{% endblock content %}
