    {% extends 'blog/base.html' %}
    {% load crispy_forms_tags %}
    {% load i18n %}
    {% block content %}
        <div class="content-section" id="reset-password">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        {% trans 'Reset password' %}
                    </legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-info">{% trans 'Request Password Reset' %}</button>
                </div>
            </form>
        </div>
    {% endblock content %}
