{% extends 'blog/base.html' %}
{% block content %}
        <div class="alert alert-info">
            Your passwprd has been set
        </div>
        <a href="{% url 'login' %}"> Sign In Here</a>
{% endblock content %}
