{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <div class="content-section">

        <div class="row">

            <div class="col-md-6">
                <form method="post" enctype="multipart/form-data" id="update-profile">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">
                            {% trans 'Profile Info' %}
                        </legend>
                        {{ u_form|crispy }}
                        <div id="div_id_email" class="form-group">
                            <label for="id_email" class="col-form-label  requiredField">
                                {% trans 'Email' %}<span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <input type="email" disabled value="{{ user.email }}"
                                       class="emailinput form-control" required="" id="id_email">
                            </div>
                        </div>

                        <div class="media">
                            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                        </div>

                        {{ p_form|crispy }}

                    </fieldset>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-info">{% trans 'Update' %}</button>
                    </div>
                </form>
            </div>

            <div class="col-md-6">
                <form method="post" enctype="multipart/form-data" id="update-billing">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">
                            {% trans 'Billing Details' %}
                        </legend>
                        {{ b_form|crispy }}

                    </fieldset>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-info">{% trans 'Update' %}</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock content %}
