{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <div class="content-section" id="register-form">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    {% trans 'Join Today' %}
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <div class="border-top pt-3">
                    <button type="submit" class="btn btn-outline-info">{% trans 'Sign Up' %}</button>
                    <small class="text-muted have-an-account">
                        {% trans 'Already Have An Account' %} ? <a href="{% url 'login' %}"
                                                                   class="ml-2"> {% trans 'Sign In' %}</a>
                    </small>
                </div>
            </div>
        </form>

    </div>
{% endblock content %}
