{% extends 'admin/base_site.html' %}
{% load suit_tags admin_static %}

{# Following is an example how to extend admin by custom CSS or JS files #}
{# Add extra CSS for admin #}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
{% endblock %}

{#{% block foot %}#}
{#    {{ block.super }}#}
{#    <script type="text/javascript"></script>#}
{#{% endblock %}#}



{# Switch for demonstration purposes, not indended for production use #}
{% block usertools %}
    <style type="text/css">
        body #header a.demo-layout-switch {
            color: #687086;
        }

        body.suit_layout_vertical .demo-layout-switch {
            background-color: #383D4B;
            order: 10;
            text-align: center;
            padding: .5rem 0;
        }
    </style>
{% endblock %}
