{% extends "admin/base_site.html" %}
{% load i18n %}


{% block extrahead %}
    {{ media }}
{% endblock %}

{% block content %}


    <div class="col-md-6 order-details">
        <div class="title-order">
            <h2> {% trans 'Order Details' %}</h2>
        </div>
        <table id="result_list" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th scope="col" class="user-column sortable column-user">
                    <div class="text">
                        <a href="#">{% trans 'User' %}</a>
                    </div>
                </th>
                <th scope="col" class="status-column sortable column-status">
                    <div class="text">
                        <a href="#">{% trans 'Status' %}</a>
                    </div>
                </th>

                <th scope="col" class="payment_type-column sortable column-payment_type">
                    <div class="text">
                        <a href="#">{% trans 'Payment type' %}</a>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="row1">
                <td class="field-user nowrap">{{ adminform.form.instance.user.username }}
                </td>
                <td class="field-payment_type">{{ adminform.form.instance.status }}</td>

                <th class="field-status">
                    {{ adminform.form.instance.payment_type }}
                </th>
            </tr>

            </tbody>
        </table>
        <table id="result_list" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th scope="col" class="status-column sortable column-status">
                    <div class="text">
                        <a href="#">{% trans 'Product' %}</a>
                    </div>
                </th>
                <th scope="col" class="total-column sortable column-total">
                    <div class="text">
                        <a href="#">{% trans 'Quantity' %}</a>
                    </div>
                </th>
                <th scope="col" class="qty-column sortable column-qty">
                    <div class="text">
                        <a href="#">{% trans 'Price' %}</a>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for product in order_products %}

                <tr class="row1">
                    <td class="field-total"><a target="_blank"
                                               href="{% url 'admin:post_post_change' product.post.pk %} ">{{ product.post.title }}</a>
                    </td>
                    <td class="field-qty">{{ product.qty }}</td>
                    <td class="field-payment_type">{{ product.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr class="row1">
                <td class="field-total"></td>
                <td class="field-total">
                    {% trans 'Quantity' %}: {{ adminform.form.instance.qty }}
                </td>
                <td class="field-total">
                    {% trans 'Total' %}: {{ adminform.form.instance.total }}
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-md-6 billing-details">
        <div class="title-order">
            <h2> {% trans 'Billing Details' %}</h2>
        </div>
        <table id="result_list" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th scope="col" class="user-column sortable column-user">
                    <div class="text">
                        <a href="#">{% trans 'First Name' %}</a>
                    </div>
                </th>
                <th scope="col" class="status-column sortable column-status">
                    <div class="text">
                        <a href="#">{% trans 'Last Name' %}</a>
                    </div>
                </th>

                <th scope="col" class="payment_type-column sortable column-payment_type">
                    <div class="text">
                        <a href="#">{% trans 'Email' %}</a>
                    </div>
                </th>

                <th scope="col" class="payment_type-column sortable column-payment_type">
                    <div class="text">
                        <a href="#">{% trans 'Phone' %}</a>
                    </div>
                </th>
                <th scope="col" class="payment_type-column sortable column-payment_type">
                    <div class="text">
                        <a href="#">{% trans 'District' %}</a>
                    </div>
                </th>

                <th scope="col" class="payment_type-column sortable column-payment_type">
                    <div class="text">
                        <a href="#">{% trans 'Address' %}</a>
                    </div>
                </th>

                <th scope="col" class="payment_type-column sortable column-payment_type">
                    <div class="text">
                        <a href="#">{% trans 'Diffenet Address' %}</a>
                    </div>
                </th>

                <th scope="col" class="payment_type-column sortable column-payment_type">
                    <div class="text">
                        <a href="#">{% trans 'Order Note' %}</a>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="row1">
                <td class="field-payment_type">{{ orderBilling.first_name }}</td>
                <td class="field-payment_type">{{ orderBilling.last_name }}</td>
                <td class="field-payment_type">{{ orderBilling.email }}</td>
                <td class="field-payment_type">{{ orderBilling.phone }}</td>
                <td class="field-payment_type">{{ orderBilling.district.name }}</td>
                <td class="field-payment_type">{{ orderBilling.address }}</td>
                <td class="field-payment_type">{{ orderBilling.diff_address }}</td>
                <td class="field-payment_type">{{ orderBilling.order_note }}</td>
            </tr>
            </tbody>
        </table>
    </div>



{% endblock %}